<style>
	.reg{padding-left: 10px;text-decoration: underline;}
	label{width: 56px;text-align: right;display: inline-block;}
</style>
<h2>请登录</h2>
<form action="" method="post" name="form" id="form">
  <p><label for="username">用户名：</label><input type="text" name="username"></p>
  <p><label for="password">密码：</label><input type="text" name="password"></p>
  <input type="submit" name="submit" value="登录">
  <span class="reg"><a href="/reg">注册</a></span>
</form>
